*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --text-color: #c64fff;
    --bg-color: #fcf8f8;
    --main-color: #51fe5d;
    --second-color: #fff;
    --big-font: 5.5rem;
    --p-font: 1rem;
    --ba-color: #4bddf9;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 9%;
    transition: all ease .55s;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 40px;
    font-weight: bold;
    margin-right: 50px;
}

.logo img {
    vertical-align: middle;
    color: var(--main-color);
    width: 100px;
    margin-right: 5px;
}

.navlist {
    display: flex;
}

.navlist a{
    font-size: 18px;
    color: var(--text-color);
    font-weight: 600;
    margin: 0 15px;
    transition: all ease .55s;
}

.navlist a:hover {
    color:#ef7c8e;
}

.h-main {
    display: flex;
    align-items: center;
}

.h-btn {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid var(--text-color);
    margin-right: 20px;
    transition: all ease .55s;
}

.h-btn:hover{
    background: #ef7c8e;
    border: 2px solid #ef7c8e;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.haut {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    background-color: #e0ffff;
}
.bas {
    background: #ef7c8e;
    min-height: 50vh;
}
h1 {
    color: #2EBD58;
    font-size: 3em;
    text-align: center;
    margin-top: 300px;
}

.convert-field {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 50%;
    background-color: #ffffff;
    border: 2px solid #c64fff;
    border-radius: 50px;
    gap: 2em;
    padding: 35px 0;
}

/*#menu-icon{
    font-size: 40px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin: 15px;
    display: none;
} */
i {
    margin-top: 15px;
    font-size: 20px;
}
#btsubi {
    font-size: 1.2em;
    border: 1px solid black;
    background-color: #51fe5d;
    padding: 20px 35px;
    border-radius: 50px;
    cursor: pointer;
}

#btsubi:active{
   transform: scale(0.98);
}

.bas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px ;
}
.bas img {
    width: 200px;
    background-color: #e0ffff;
    padding: 10px;
    border-radius: 50px;
    margin-top: 12em;
}

form :where(input, select) {
    outline: none;
    border: none;
}

.gauch, .droit{
    border: 1px solid #999;
    height: 50px;
    border-radius: 50px;
    padding: 15px 15px;
}

.gauch:active, .droit:active{
    border: 2px, solid #c64fff;
}

select {
    width: 100px;
    background-color: transparent;
    font-size: 15px;
}

input {
    font-size: 15px;
}